*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

body { 
    min-height: 100vh;
    width: 100%;
    font-family: "Fira Code", monospace;
    background-color: #282C33;
    
}

h1{
    color: #fff;

}

header {
  width: 100%;
  height: 60px;
  
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282C33;
    height: 60px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 0%;
    left: 5%;
}

nav{
    display: flex;
    gap: 70px;
    justify-content: flex-end;

}

#container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    width: 100%;
    height: 208px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #ABB2BF;
}

a:hover{
    color: #fff;
}

span{
    color: #C778DD;
}

#home{
    margin-top: 100px;
    
}

#description{
    color: #fff;
    font-size: 32px;
    padding-top: 60px;
    width: 537px;
    height: 227px;
}

#desc{
    color: #ABB2BF;
    font-size: 16px;
    padding-top: 20px;
}

#line{
    height: 1px;
    width: 500px;
    background-color: #C778DD;
    margin-top: 22px;
    margin-left: 10px;
    
}

#view{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 150px;
}


.project{
    width: 330px;
    height: 428px;
    
    border: 1px solid #ABB2BF;
}

#projects{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 50px;

}
.titles{
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.title{
    display: flex;
    margin-left: 121px;
}

#decoration{

    position: absolute;
    left: 900px;
    bottom: 290px;

}

.photo{
    width: 330px;
    height: 201px;
    border-bottom: 1px solid #ABB2BF;
}

.technologies{
    width: 330px;
    height: 74px;
    border-bottom: 1px solid #ABB2BF ;
}

.project-link{
    width: 109px;
    height: 37px;
    border: 1px solid #C778DD;
    margin-left: 32px;
    margin-top: 100px;
}

.points{
    width: 91px;
    height: 91px;
}

.skills-table{
    width: 178px;
    border: 1px solid #ABB2BF ;
    justify-content: center;
}

.skills-title{
    
    color: #fff;
    font-size: 14px;
    margin: 8px;
}

.skills-body{
    border-top: 1px solid #ABB2BF;

}

.list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}

.list-items{
    border: 1px solid #C778DD;
    display: inline-block;
    font-size: 12px;
    padding: 3px;
}

#skills{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.text{
    width: 80%;
    color: #ABB2BF;

}

#div-contacts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 450px;
}

.ten-points{
    width: 40px;
    color: #fff;
    font-size: 20px;
}

#contact-platforms{

    border: 1px solid #ABB2BF;
    
}